// I edited the cambridge profile config from here: https://github.com/nf-core/configs/blob/master/conf/cambridge.config

params {
    config_profile_description = 'Cambridge HPC cluster profile.'
    config_profile_contact     = 'Andries van Tonder (ajv37@cam.ac.uk)'
    config_profile_url         = "https://docs.hpc.cam.ac.uk/hpc"
    partition                  = 'sapphire'
    project                    = 'BAGPIPE-IS-GREAT-CPU'
    max_memory                 = 192.GB
    max_cpus                   = 56
    max_time                   = 12.h
}

singularity {
    enabled    = true
    autoMounts = true
    pullTimeout = '1 h'
    singularity.cacheDir = '/home/singularity_cache'
}

process {
    resourceLimits = [
        memory: 192.GB,
        cpus: 56,
        time: 12.h
    ]
    executor       = 'slurm'
    clusterOptions = "-A ${params.project} -p ${params.partition}"
}